#MacbookPro17,1
#timeout 10
#menu title select kernel

label Archlinux
    kernel /vmlinuz-%PKGBASE%
    initrd /initramfs-%PKGBASE%.img
    fdt /dtbs/t8103-j293.dtb
    fdtoverlays	%PKGBASE%
    append   root=UUID=CHANGEME rw