name: Build Arch Linux Installer for Radxa Zero 3

# Controls when the workflow will run
on:
  push:
    tags:
      - 'b*'
      - 'd*z3'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Extract U-Boot
        run: |
          curl -L https://github.com/radxa-repo/bullseye/raw/gh-pages/.pool/u-boot-latest_2023.10-9-eed05a18_arm64.deb -o uboot.deb
          ar xv uboot.deb
          tar -xf data.tar.xz
          ls -l

      - name: Build Image for Zero 3
        run: |
          bash <(curl -fsSL https://raw.githubusercontent.com/kwankiu/archlinux-installer/main/archlinux-installer) --kernel=linux-aarch64-rockchip-bsp5.10-joshua-git --sbc=zero3 --addpkg=linux-firmware-joshua-git -c --image=zero-3-archlinux-installer.img --uboot=usr/lib/u-boot/radxa-zero3
          cp -r out/zero-3-archlinux-installer.img.xz zero-3-archlinux-installer.img.xz

      - uses: ncipollo/release-action@v1
        with:
            artifacts: "*-archlinux-installer.img.xz"
            makeLatest: false
            prerelease: true
            allowUpdates: true
            omitBody: true
