name: Build Arch Linux Installer for Orange Pi 5

# Controls when the workflow will run
on:
  push:
    tags:
      - 'b*'
      - 'd*o5'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Extract U-Boot
        run: |
          mkdir -p usr/lib/tmp

          curl -L https://launchpad.net/~jjriek/+archive/ubuntu/rockchip/+files/u-boot-orangepi-5_2017.09+20240401.git7f7ff61a-2_arm64.deb -o uboot.deb
          ar x uboot.deb
          tar -xI unzstd -f data.tar.zst
          sudo mv usr/lib/u-boot usr/lib/tmp/orangepi-5
          sudo rm -rf *.deb *.zst

          curl -L https://launchpad.net/~jjriek/+archive/ubuntu/rockchip/+files/u-boot-orangepi-5-plus_2017.09+20240401.git7f7ff61a-2_arm64.deb -o uboot.deb
          ar x uboot.deb
          tar -xI unzstd -f data.tar.zst
          sudo mv usr/lib/u-boot usr/lib/tmp/orangepi-5-plus
          sudo rm -rf *.deb *.zst

          curl -L https://launchpad.net/~jjriek/+archive/ubuntu/rockchip/+files/u-boot-orangepi-5b_2017.09+20240401.git7f7ff61a-2_arm64.deb -o uboot.deb
          ar x uboot.deb
          tar -xI unzstd -f data.tar.zst
          sudo mv usr/lib/u-boot usr/lib/tmp/orangepi-5b
          sudo rm -rf *.deb *.zst

          sudo rm -rf usr/lib/u-boot
          sudo mv usr/lib/tmp usr/lib/u-boot
          ls -l usr/lib/u-boot

      - name: Build Image for Orange Pi 5
        run: |
          bash <(curl -fsSL https://raw.githubusercontent.com/kwankiu/archlinux-installer/main/archlinux-installer) --kernel=linux-aarch64-orangepi5-git --sbc=orangepi5 --addpkg=linux-firmware-orangepi-git -c -b --image=orangepi-5-archlinux-installer.img --uboot=usr/lib/u-boot/orangepi-5
          cp -r out/orangepi-5-archlinux-installer.img.xz orangepi-5-archlinux-installer.img.xz

      - name: Build Image for Orange Pi 5B
        run: |
          bash <(curl -fsSL https://raw.githubusercontent.com/kwankiu/archlinux-installer/main/archlinux-installer) --kernel=linux-aarch64-orangepi5-git --sbc=orangepi5 --addpkg=linux-firmware-orangepi-git -c -b --image=orangepi-5b-archlinux-installer.img --uboot=usr/lib/u-boot/orangepi-5b
          cp -r out/orangepi-5b-archlinux-installer.img.xz orangepi-5b-archlinux-installer.img.xz

      - name: Build Image for Orange Pi 5 Plus
        run: |
          bash <(curl -fsSL https://raw.githubusercontent.com/kwankiu/archlinux-installer/main/archlinux-installer) --kernel=linux-aarch64-orangepi5-git --sbc=orangepi5 --addpkg=linux-firmware-orangepi-git -c -b --image=orangepi-5-plus-archlinux-installer.img --uboot=usr/lib/u-boot/orangepi-5-plus
          cp -r out/orangepi-5-plus-archlinux-installer.img.xz orangepi-5-plus-archlinux-installer.img.xz

      - uses: ncipollo/release-action@v1
        with:
            artifacts: "*-archlinux-installer.img.xz"
            makeLatest: false
            prerelease: true
            allowUpdates: true
            omitBody: true
